#article_title{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    width: 90%;
    line-height: 35px;
}
#article .article_html{
   margin-top: 20px;
}
#article .article_container{
    margin-top: 114px;
}
#article .article_author{color: #b1b0ae;}
blockquote
{
    display: block;
    border-left: 8px solid #ee3a4a;
    padding: 5px 29px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 20px;
    background-color: #f1f1f1;
}