@font-face {
    font-family: "icon-font";
    src: url('../fonts/icon-font.eot');
    src: url('../fonts/icon-font.eot?#iefix') format('eot'), url('../fonts/icon-font.woff') format('woff'), url('../fonts/icon-font.ttf') format('truetype'), url('../fonts/icon-font.svg#icon-font') format('svg');
}

.icon-desktop:before,
.icon-menu-close:before,
.icon-menu:before,
.icon-mobile:before,
.icon-submenu-down:before,
.icon-submenu-right:before,
.icon-world:before,
header h1:before,
.nav-button:before,
.nav-close:before,
.nav .nav-submenu > a:after,
.nav > ul > .nav-submenu > a:after {
    font-family: "icon-font";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    vertical-align: top;
}

.icon-desktop:before {
    content: "\E001";
}

.icon-menu-close:before {
    content: "\E002";
}

.icon-menu:before {
    content: "\E003";
}

.icon-mobile:before {
    content: "\E004";
}

.icon-submenu-down:before {
    content: "\E005";
}

.icon-submenu-right:before {
    content: "\E006";
}

.icon-world:before {
    content: "\E007";
}

body {
    padding-top: 4.4rem;
    font-family:Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微8软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 901;
    padding-left: 20px;

    line-height: 4.4rem;
    background:#fff;
    border-bottom: 2px solid #e6e3e4;
}
header .logo{
    max-height: 30px;
    margin-top: 17px;

}

header h1 {
    margin: 0;
    font-size: 1.7rem;
    line-height: 4.4rem;
}

header h1:before {
    content: "\E004";
    margin-right: 8px;
}

.nav-button,
.nav-close {
    position: fixed;
    top: 0;
    width: 2.4rem;
    height: 4.4rem;
    overflow: hidden;
    z-index: 902;
    cursor: pointer;
    text-decoration: none;
    line-height: 4.4rem;
    background: #26201C;
    color: #A69A94;
}

.nav-button:before,
.nav-close:before {
    display: block;
    text-align: center;
}

.nav-button {
    display: block;
    right: 1rem;
    font-size: 1.7rem;
    width:55px;
    height:55px;
    background:#fff;
    border:1px solid #a69a93;
    font-size:42px;
    padding: 4px 8px;
    margin:5px 0px;
    border-radius:5px;
}



.nav-close {
    display: none;
    right: 4rem;
    font-size: 1.9rem;
}



.nav {
    padding-top: 4.4rem;
    line-height: 4.4rem;
    color: #000;
   
}

.nav ul {
    border-radius: 0 0 6px 6px;
    color:#000;
    margin-top: 22px;
}

.nav ul ul {
   
}

.nav ul ul ul {
    
}

.nav ul ul ul ul {
    
}

.nav ul ul ul ul ul {
   
}

.nav li {
    cursor: pointer;
    background:#fff;
    padding-left: 0px;
    border-bottom:1px solid #e6e3e4;
   
    padding-top:5px
}

.nav li:hover > a,
.nav li.nav-active > a {
   
    
}

.nav .nav-submenu > ul {
    /* margin-left: 10px; */
}

.nav .nav-submenu > a {
    padding-right: 30px !important;
    font-size:30px;
    font-weight:bolder;
    letter-spacing:4px;
}

.nav a,
.nav a:hover,
.nav a:active,
.nav a:visited {
    border-radius: 6px;
    padding: 0px 15px 5px;
    color: #000000;
    text-decoration: none;
}
.nav .l2{
    background: #e53935;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#000;
    text-align:left;
    padding-left: 17px;
    font-weight:600;
    border: none;
}


@media only screen and (min-width: 1080px) {

    body {
        padding: 0 !important;
    }

    header {
        position: relative;
        width:30%;
        float:left;
        height:120px;
        border-bottom:none;
       
    }
    header .logo{
      
        max-height:60px;
        margin-left:2%;
        margin-top:35px;

    }

    .nav-button {
        display: none;
    }

    .nav {
       width: 100%;
       display:block;
       height: 150px;
        border-bottom: 5px solid #ec727c;
    }

    .nav > ul > li {
        border-top: none;
        padding: 0px 10px 0px 10px;
        margin: 0px 25px;
    }
    .nav >ul > li:hover{
        border-bottom: 4px solid #de2945;
      
    }

    .nav li > ul {
       
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
        
    }

    .nav ul ul ul {
        border-radius: 0 6px 6px 6px;
    }

    .nav ul ul ul li:first-child {
        border-top: none;
    }

    .nav .nav-left > ul {
        border-radius: 6px 0 6px 6px;
    }

    .nav .nav-submenu li {
        float:left;
        border:none;
        /* width: 100%; */
    }

    .nav .nav-submenu > ul {
        margin-top: 15px;
        width:450px;
        background:#fff;
    }
    .nav .l2{
        background:none;
        width: 20%;
    }

    .nav .line{

        width:100%;
    }

    .nav .wrap2{
        width:80%;
        float:right;
        border-bottom:1px solid #d2d0d0;
        /* height: 100%; */
    } .nav .wrap1{
        width:20%;
        float:left;
       
    }
    .nav .wrap2 a{
         padding:0px 5px;
          margin:0px;
    }
    .nav .oneline{
        width:100%;
        float: left;
    }



}

